recursive-include areno/accel/csrc *.cpp *.cu *.cuh *.h *.hpp
recursive-include areno/accel/csrc/npu *.py CMakeLists.txt
include requirements/*.txt
recursive-include areno/dashboard/dist *.html *.css *.js
